<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service_mb_xmlSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="Service_mb_xmlSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sandbox-api.lemonway.fr/mb/demo/dev/directkitxml/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_mb_xmlSoap"
                contract="LemonWayAPI.Service_mb_xmlSoap" name="Service_mb_xmlSoap" />
        </client>
    </system.serviceModel>
</configuration>